<?xml version="1.0"?>
<config>
    <modules>
        <dataprovider>
            <version>1.0.0</version>
        </dataprovider>
    </modules>
    <frontend>
        <layout>
            <updates>
                <dataprovider>
                    <file>dataprovider.xml</file>
                </dataprovider>
            </updates>
        </layout>
        <routers>
            <dataprovider>
                <use>standard</use>
                <args>
                    <module>Hackathon_Dataprovider</module>
                    <frontName>dataprovider</frontName>
                </args>
            </dataprovider>
        </routers>
    </frontend>
    <global>
        <blocks>
            <dataprovider>
                <class>Hackathon_Dataprovider_Block</class>
            </dataprovider>
        </blocks>
        <helpers>
            <dataprovider>
                <class>Hackathon_Dataprovider_Helper</class>
            </dataprovider>
        </helpers>
        <models>
            <dataprovider>
                <class>Hackathon_Dataprovider_Model</class>
            </dataprovider>
        </models>
    </global>
</config>